*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

h2, p { 
  margin-bottom: 1em;
}


.container {
  background: #fff;
  padding: 1em 1.25em;
}

.dice-container{
  display: grid;
  grid-template-columns: repeat(5,4rem);
  grid-template-rows: auto auto;
  gap: 15px;
  justify-content: center;
}

.die {
  padding: .5em ;
  font-family: inherit;
  font-weight: 700;
  border-radius: 10px;
  border: none;
}

.roll-dice-btn {
  display: inline-block;
  margin: 2em auto 0;
  padding: 1em 1.5em;
  background: #5035FF;
  color: #fff;
  font-family: inherit;
  font-weight: 600;
  border-radius: 5px;
}